.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logoColor);
}

.logo-footer {
  padding: 0;
  margin: 0;
}

.logo-darck {
  color: var(--logoColorDarck);
}

.logo-light {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--logoColorLight);
}