.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--textColor);
  border-radius: 50%;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
    
    &:hover,
    &:focus {
      color: var(--lightColor);
      background-color: var(--accentColor);
    }
}

.icon-social {
  fill: currentColor;
}

.footer-social-link {
  color: var(--lightColor);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
    
    &:hover,
    &:focus {
      background-color: var(--hoverBtnColor);
    }
}

.footer-icon-social {
  fill: currentColor;
}